// Sizing
$paddingLanding: 40px;

// Colors
$color1: #FFF;
$white: #fff;
$black: #030303;
$activeColor: #b8cd06;
$grey: #888;
$greyDark: #555;
$green: #087d00;
$red: #ff1212;
$orange: orange;
$purple: purple;
$borderGrey: #eee;
