doctype html  
html(lang='en')  
    head
        title Pug
    body
        #app.app
            include includes/topbar.pug
            include includes/navbar.pug
            include includes/slider.pug
            include includes/banner.pug
            include includes/footer.pug
